html,
body {
    height: 100%;
}

body {
    font-size: 18px;
    @extend %manrope-400;
    background-color: #F6F5F5;
    color: #494A50;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

.social {
    position: relative;

    &__list {
        display: flex;
    }

    &__list-item+.social__list-item {
        margin-left: 10px;
    }

    &__list-link {
        display: inline-block;
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list-img {
        width: 34px;
        height: 34px;
    }
}

.social::after,
.social::before {
    content: '';
    position: absolute;
    width: 55px;
    height: 1px;
    background-color: $accent;
    top: 50%;
    transform: translateY(-50%);
}

.social::before {
    left: -64px;
}

.social::after {
    right: -64px;
}

.popup-container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 100;

    &__inner {
        padding: 83px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        gap: 33px;
        position: relative;
        z-index: 150;
    }

    &__btn-close {
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        outline: none; 
        appearance: none; 
        flex-shrink: 0;
        z-index: 200;
    }

    &__btn-close::before,
    &__btn-close::after {
        content: "";
        position: absolute;
        width: 20px; 
        height: 2px; 
        background-color: #494A50; 
        z-index: 200;
    }

    &__btn-close::before {
        transform: rotate(45deg);
    }

    &__btn-close::after {
        transform: rotate(-45deg);
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        line-height: 0;
        box-shadow: 0px 32px 25.5px -29px rgba(0, 0, 0, 0.25);
    }

    &__item--imgbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__img--top {
        margin-bottom: 53px;
        display: block;
    }
}
.popup-top {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 100;

    &__inner {
        background-color: #fff;
        max-width: 557px;
        padding: 71px 50px 49px 51px;
        text-align: center;
        position: relative;
    }

    &__title {
        font-size: 36px;
        @extend %manrope-700;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__form {
        max-width: 391px;
        margin: 0 auto;
    }

    &__label {
        display: block;
        text-align: left;
        margin-bottom: 20px;
        font-size: 14px;
    }

    &__input {
        width: 100%;
        padding: 20px 10px;
        border: 1px solid $accent;
        margin-top: 8px;
    }

    &__input--text {
        padding: 10px 10px 119px;
    }

    &__btn {
        width: 100%;
        height: 61px;
        border: none;
        background-color: $accent;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    .popup {
        &__inner {
            padding: 65px;
        }

        &__img--top {
            margin-bottom: 42px;
        }
    }
    .popup-top {
        &__inner {
            max-width: 486px;
            padding: 50px;
        }

        &__title {
            font-size: 32px;
        }

        &__input {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &__input--text {
            padding: 10px 10px 100px;
        }
    }

}

@media (max-width: 744px) {
    .popup {
        &__img--top {
            margin-bottom: 28px;
        }
    }
}

@media (max-width: 600px){
    .popup-top {
        &__inner {
            max-width: 390px;
            padding: 100px 25px 55px;
        }

        &__title {
            font-size: 24px;
        }

        &__text {
            font-size: 15px;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 440px) {
    .popup-container {
        padding: 0;
    }

    .popup {

        &__inner {
            max-width: calc(100% - 50px);
            height: 100vh;
            max-height: 1945px;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 77px 25px 52px;
            box-sizing: border-box;
            background-color: #fff;
            margin: 0 auto;
        }
        &__btn-close{
            right: 25px;
            top: 25px;
        }
    }
}
@media (max-width: 320px){
    .popup-top {
        &__inner {
            max-width: 270px;
            padding: 65px 25px 45px;
        }

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 13px;
            margin-bottom: 15px;
        }
        &__input--text {
            padding: 10px 10px 100px;
        }
        &__input{
            padding: 10px;
        }
        &__input--text {
            padding: 10px 10px 70px;
        }
    }
}