@media (max-width: 1700px) {
    .top {

        .social__list,
        .social::after,
        .social::before {
            display: none;
        }
    }
}

@media (max-width: 1150px) {
    .projects-tabs {
        padding: 40px 10px;

        &__title {
            font-size: 36px;
            margin-bottom: 35px;
        }

        &__content-boxtext {
            max-width: 378px;
            font-size: 16px;
            margin-right: 20px;
        }
    }
    .why-me{
        padding-inline: 10px;
        
        &__content{
            max-width: 477px;
            margin-left: 20px;
            padding-top: 0;
            padding-top: 75px;
        }
        &__content-lists{
            gap: 10px;
        }
        &__content-title{
            font-size: 36px;
        }
        &__list-item{
            width: auto;
            text-align: left;
        }
    }

}

@media (max-width: 1024px) {
    .header {
        &__menu {
            padding: 45px 10px;
        }

        &__menu-list {
            gap: 50px;
        }
    }

    .footer {
        &__wrapper {
            padding: 50px 10px;
        }
    }

    .top {
        padding: 62px 10px 30px;

        &__content {
            margin-right: 71px;
            padding-top: 40px;
        }

        &__title {
            font-size: 64px;
        }

        &__img {
            height: 100%;
        }
    }

    .statistics {
        .statistics__list {
            padding-inline: 10px;
        }

        &__list-item {
            font-size: 48px;
        }

        &__list-item::after {
            right: -72px;
        }
    }

    .about-me {
        &__wrapper {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 49px;
        }

        &__content {
            position: relative;
            padding-top: 9px;
            margin-right: 20px;

        }

        &__title {
            font-size: 36px;
            position: absolute;
            top: -49px;
            margin-top: 0;
            margin-bottom: 0;
        }

        &__images {
            height: 100%;
        }
    }

    .services {
        padding-top: 46px;

        &__title {
            font-size: 36px;
            margin-bottom: 30px;
        }

        &__item {
            max-width: 477px;
            padding: 20px;
            height: auto;
        }

        &__subtitle {
            font-size: 20px;
        }
    }

    .smm {
        padding: 0 10px 100px;

        &__item {
            gap: 20px;
        }

        &__title {
            font-size: 36px;
        }

        &__img {
            height: 100%;
        }

        &__subtitle {
            font-size: 32px;
            font-weight: 400;
        }

        &__text {
            max-width: 477px;
        }
    }

    .target {
        padding-bottom: 149px;
        padding-inline: 10px;

        &__title {
            font-size: 36px;
        }
        &__top-item {
            font-size: 18px;
            &+.projects-tabs__top-item {
                margin-left: 38px;
            }
        }

        &__cards {
            grid-template-columns: repeat(2, 1fr);
        }

        &__card {
            padding: 30px;
        }

        &__card {
            max-width: 100%;
        }
    }
    // .popup-top
    // &__inner
}

@media (max-width: 845px) {
    .header {
        padding-bottom: 143px;

        &__wrapper {
            padding-inline: 25px;
        }

        .container {
            padding: 0;
        }

        .header__menu::after {
            width: calc(100% - 50px);
            left: 25px;
            bottom: 0px;
        }

        &__menu {
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            padding: 50px 0px 94px;
        }

        &__menu-list {
            width: 100%;
            flex-direction: column;
            text-align: center;
            background-color: #fff;
            z-index: 10;
            position: absolute;
            gap: 0;
            top: -52px;
            transform: translateY(-300%);
            transition: all .3s;
        }

        .header__menu-list--top {
            padding-top: 121px;
        }

        .header__menu-list--button {
            transform: translateY(-300%);
            padding-bottom: 20px;
        }

        .header__menu-list--top.active {
            transform: translateY(0);
            transition: all .3s;
        }

        .header__menu-list--button.active {
            transform: translateY(156%);
            transition: all .3s;
        }



        &__list-item {
            display: block;
        }

        &__item-link {
            display: block;
            padding: 15px 0;
            font-size: 16px;
        }

        &__item-link:focus,
        &__item-link:focus-visible {
            background-color: $accent;
            color: #fff;
            outline: none;
        }

        &__link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__menu-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 42px;
            height: 42px;
            background: transparent;
            border: none;
            position: absolute;
            cursor: pointer;
            z-index: 11;
            right: 25px;
            top: 53px;
            padding: 0;

            & span {
                position: absolute;
                width: 35px;
                height: 4px;
                background-color: $accent;
                opacity: 1;
                transform: rotate(0deg);
                transition: 0.5s;
                z-index: 10;
            }

            & span:nth-child(1) {
                top: 6px;
            }

            & span:nth-child(2) {
                top: 17px;
            }

            & span:nth-child(3) {
                top: 28px;
            }
        }

        .header__menu-btn.active {
            width: 28px;
            height: 28px;
            right: 38px;
            top: 50px;

            & span {
                width: 24px;
                height: 3px;

                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 10px;
                    z-index: 11;
                }

                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 10px;
                    z-index: 11;
                }
            }
        }

    }

    .footer {
        &__wrapper {
            flex-direction: column;
            gap: 20px;
        }

        &__link-email,
        &__link-phone {
            font-size: 16px;
        }

        .social {
            order: -1;
        }

        .social__list-link {
            width: 30px;
            height: 30px;
        }

        .social::after,
        .social::before {
            width: 35px;
        }

        .social::before {
            left: -42px;
        }

        .social::after {
            right: -42px;
        }

        .social__list-item+.social__list-item {
            margin-left: 5px;
        }

    }

    .top {
        padding-top: 68px;

        &__content {
            margin-right: 20px;
        }

        &__title {
            font-size: 48px;
            margin-bottom: 20px;
        }

        &__text {
            width: 337px;
            font-size: 16px;
        }

        &__btn {
            height: 58px;
            margin-bottom: 59px;
            font-size: 16px;
        }
    }

    .statistics {
        &__list-item::after {
            right: -33px;
        }
    }

    .about-me {
        &__wrapper {
            flex-direction: column;
        }

        &__content {
            margin-right: 0;
        }

        &__title {
            font-size: 32px;
        }

        &__text {
            max-width: 100%;
            font-size: 16px;
        }

        &__images {
            width: 100%;
        }
    }

    .projects-tabs {
        &__title {
            font-size: 32px;
            margin-bottom: 30px;
        }

        &__top-item {
            font-size: 16px;
            padding-bottom: 10px;

            &+.projects-tabs__top-item {
                margin-left: 30px;
            }
        }

        &__content-item {

            &.projects-tabs__content-item--active {
                flex-direction: column;
            }
        }

        &__content-boxtext {
            font-size: 16px;
            max-width: 100%;
            margin-bottom: 30px;
            margin-right: 0;
        }

        &__content-boximages {
            gap: 9px;
        }

        &__content-img {
            max-width: calc((100% - 18px) / 3);
            flex-basis: calc((100% - 18px) / 3);
        }
    }
    .why-me{
        &__content{
            max-width: 337px;
            padding-top: 0;
        }
        &__title{
            font-size: 32px;
        }
        &__img{
            width: 337px;
            height: 100%;
        }
        &__list-item{
            font-size: 16px;
        }
        &__content-text{
            font-size: 16px;
            margin-top: 10px;
        }
        &__list-item--left{
            order: 1;
        }
    }
    
}

@media (max-width: 744px) {
    .statistics {
        .statistics__list {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &__list-item {
            font-size: 36px;
        }
    }

    .services {
        padding-top: 100px;

        &__title {
            font-size: 32px;
        }

        &__item {
            max-width: 337px;
            padding: 30px 23px 24px 10px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__list-item {
            font-size: 16px;
        }

        &__item::before {
            width: 40px;
            height: 40px;
        }
    }

    .smm {
        &__title {
            font-size: 32px;
        }

        &__subtitle {
            font-size: 20px;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 16px;
        }

        &__img {
            width: 332px;
        }
    }

    .target {
        padding-bottom: 100px;

        &__title {
            font-size: 32px;
            margin-bottom: 35px;
        }

        &__card {
            padding: 20px;
            height: 219px;
        }

        &__subtitle {
            font-size: 20px;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 16px;
        }

        &__link {
            font-size: 16px;
            padding-right: 26px;
            right: 20px;
        }

        &__btn {
            font-size: 20px;
            left: 20px;
            bottom: 20px;
        }

        &__card--empty::after {
            width: 42px;
            height: 28px;
            right: 20px;
            top: 20px;
        }
    }

}

@media (max-width: 700px) {
    .top {
        padding-top: 90px;
        padding-bottom: 50px;

        &__wrapper {
            flex-direction: column;
        }

        &__container-img {
            order: -1;
            margin-bottom: 20px;
        }

        &__img {
            width: 100%;
        }

        &__title {
            font-size: 36px;
            position: absolute;
            top: 43px;
            margin-bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
        }

        &__blockquote {
            display: none;
        }

        &__content {
            margin-right: 0;
            padding-block: 0;
        }

        &__text {
            width: 100%;
            font-size: 15px;
            margin-bottom: 20px;
        }

        &__btn {
            width: 100%;
            margin-bottom: 0;
            font-size: 15px;
        }
    }

    .statistics {
        .statistics__list {
            padding-top: 27px;
            padding-bottom: 0px;
            flex-wrap: wrap;
            gap: 0;
        }

        &__list-item {
            margin-bottom: 25px;
        }

        &__list-item::after {
            right: -99px;
            top: 0;
            height: 100%;
        }

        &__list-item:last-child {
            flex: 1 1 100%;
            padding-top: 10px;
            border-top: 1px solid #fff;
        }
    }
    .why-me{
        padding-top: 113px;
        padding-bottom: 50px;
        &__wrapper{
            flex-direction: column;
        }
        &__container-img{
            margin-bottom: 20px;
        }
        &__img{
            width: 100%;
        }
        &__content{
            position: relative;
            margin-left: 0;
            max-width: 100%;
        }
        &__content-title{
            font-size: 24px;
            position: absolute;
            top: calc(-30px - 105vw);
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 0;
        }
    }
}

@media (max-width: 600px) {
    .statistics {
        &__list-item::after {
            right: -33px;
        }
    }

    .services {
        padding: 50px 10px 152px;

        &__items {
            flex-direction: column;
            align-items: stretch;
        }

        &__item {
            max-width: 100%;
            width: 100%;
            padding: 30px 17px 22px 20px;
            height: auto;
        }

        &__item::before {
            width: 30px;
            height: 30px;
            top: -15px;
        }

        &__title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &__list-item {
            font-size: 15px;
        }

        &__item-facebook::after {
            width: 169px;
            height: 169px;
            bottom: -108px;
        }
    }

    .smm {
        padding-bottom: 50px;

        &__title {
            margin-bottom: 0;
            font-size: 24px;
        }

        &__item {
            flex-direction: column;
            padding-top: 57px;
        }

        &__img {
            width: 100%;
        }

        &__container-img--right {
            order: -1;
        }

        &__content {
            position: relative;
        }

        &__subtitle {
            position: absolute;
            left: 0;
            top: -94vw;
        }

        &__subtitle--top {
            top: -97vw;
        }

        &__text {
            font-size: 15px;
        }
    }

    .target {
        padding-bottom: 50px;

        &__cards {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }

        &__card {
            height: 196px;
        }
    }

}


@media (max-width: 440px) {
    .header {
        padding-bottom: 133px;

        &__menu {
            padding: 73px 0px 60px;
        }

        &__link {
            font-size: 24px;
        }

        &__menu-btn {
            width: 32px;
            height: 32px;
            top: 50px;

            & span {
                width: 27px;
            }

            & span:nth-child(1) {
                top: 8px;
            }

            & span:nth-child(3) {
                top: 25px;
            }
        }

        &__item-link {
            font-size: 15px;
        }

    }

    .footer {

        &__link-email,
        &__link-phone {
            font-size: 15px;
        }

        &__wrapper {
            gap: 23px;
        }
    }

    .statistics {
        &__list-item::after {
            right: -33px;
        }

        &__item-text {
            font-size: 18px;
        }
    }

    .about-me {
        padding-top: 50px;

        &__container-img {
            order: -1;
        }

        &__title {
            top: -30px;
            font-size: 24px;
            top: calc(-50px - 82vw);
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__text {
            font-size: 15px;
            margin-bottom: 10px;
        }
    }

    .target {
        &__title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-bottom: 9px;
        }

        &__text {
            font-size: 15px;
        }

        &__link {
            font-size: 15px;
            padding-right: 23px;
        }

        &__link::after {
            width: 8px;
            height: 14px;
            top: 4px;
        }
    }

    .projects-tabs {
        padding-top: 30px;

        &__title {
            font-size: 24px;
        }

        &__top-item {
            font-size: 15px;
            padding-bottom: 12px;

            &+.projects-tabs__top-item {
                margin-left: 36px;
            }
        }
        &__content-boxtext{
            font-size: 15px;
            padding-top: 52px;
        }
        &__content-boximages{
            gap: 4px;
        }
        &__content-img {
            max-width: calc((100% - 8px) / 3);
            flex-basis: calc((100% - 8px) / 3);
        }
    }
    .why-me{
        &__list-item{
            font-size: 15px;
        }
        &__content-lists{
            margin-bottom: 20px;
        }
        &__content-text{
            margin-top: 0;
            font-size: 15px;
        }
    }
}
@media (max-width: 360px){
    .projects-tabs{
        padding-top: 20px;
        &__title{
            letter-spacing: -0.4px;
            margin-bottom: 20px;
        }
        &__top-item{
            padding-bottom: 5px;
            margin-bottom: 10px;
            &+.projects-tabs__top-item {
                margin-left: 16px;
            }
        }
        &__content-boxtext{
            font-size: 11px;
            margin-bottom: 10px;
        }
    }
}



@media (max-width: 320px) {
    .header {
        padding-bottom: 99px;

        &__menu {
            padding: 40px 0px 60px;
        }

        &__link {
            font-size: 20px;
        }

        &__menu-btn {
            top: 32px;
        }
    }

    .footer {
        &__wrapper {
            gap: 16px;
        }

        &__link-email,
        &__link-phone {
            font-size: 11px;
        }

        .social__list-link {
            width: 21px;
            height: 21px;
        }

        .social__list-item+.social__list-item {
            margin-left: 4px;
        }

        .social::after,
        .social::before {
            width: 24px;
        }
    }

    .top {
        &__title {
            font-size: 32px;
        }
    }

    .statistics {
        .statistics__list {
            padding-top: 24px;
            padding-bottom: 0;
        }

        &__list-item {
            font-size: 27px;
        }

        &__item-text {
            font-size: 10px;
        }
    }

    .about-me {
        &__title {
            top: calc(-50px - 75vw);
        }
    }

    .smm {
        padding-bottom: 40px;
    }

    .services {
        padding-top: 40px;
        padding-bottom: 97px;

        &__title {
            margin-bottom: 10px;
        }

        &__item {
            padding: 20px 24px 20px 15px;
        }

        &__subtitle {
            font-size: 15px;
        }

        &__list-item {
            margin-bottom: 10px;
            padding-left: 18px;
        }

        &__list-item::before {
            width: 11px;
            height: 11px;
        }

        &__item-facebook::after {
            width: 115px;
            height: 115px;
            bottom: -60px;
        }
    }

    .target {
        &__card {
            padding: 15px;
            height: 136px;
        }

        &__subtitle {
            font-size: 15px;
        }

        &__text {
            font-size: 11px;
        }

        &__link {
            font-size: 11px;
            right: 15px;
            bottom: 15px;
            padding-right: 16px;
        }

        &__link::after {
            width: 5px;
            height: 9px;
        }

        &__btn {
            font-size: 15px;
            left: 15px;
            bottom: 15px;
        }

        &__card--empty::after {
            background-image: url('../images/icons/arrow-right-2.svg');
            right: 15px;
            top: 15px;
        }
    }
    .why-me{
        padding-top: 94px;
        padding-bottom: 30px;
        &__content-title{
            top: calc(-30px - 96vw);
        }
        &__list-item{
            font-size: 11px;
        }
    }
}