$accent: #A4C0E0;

%forum-400 {
    font-family: 'Forum-Regular', sans-serif;
    font-weight: 400;
}
%manrope-700 {
    font-family: 'Manrope-Bold', sans-serif;
    font-weight: 700;
}
%manrope-600 {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-weight: 600;
}
%manrope-500 {
    font-family: 'Manrope-Medium', sans-serif;
    font-weight: 500;
}
%manrope-400 {
    font-family: 'Manrope-Regular', sans-serif;
    font-weight: 400;
}