@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
    &__wrapper {
        padding: 50px 0;
        border-bottom: 1px solid $accent;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu-list {
        display: flex;
    }

    &__list-item+.header__list-item {
        padding-left: 70px;
    }

    &__link {
        font-size: 32px;
        color: #A4C0E0;
        @extend %forum-400;
        text-transform: uppercase;
    }
}

.footer {
    &__wrapper {
        padding: 50px 0 57px;
        border-top: 1px solid $accent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.top {
    padding: 47px 34px;
    position: relative;

    &__wrapper {
        display: flex;
    }

    &__content {
        padding-top: 125px;
        margin-right: 57px;
    }

    &__title {
        font-size: 96px;
        @extend %forum-400;
        margin-bottom: 30px;
    }

    &__text {
        max-width: 426px;
        @extend %forum-400;
        margin-bottom: 30px;
    }

    &__btn {
        width: 260px;
        height: 61px;
        border: none;
        padding: 0;
        background-color: $accent;
        margin-bottom: 139px;
        cursor: pointer;
    }

    &__blockquote {
        max-width: 330px;
        position: relative;
    }

    &__blockquote::before {
        content: '';
        position: absolute;
        background-image: url('../images/brackets.svg');
        background-size: cover;
        width: 62px;
        height: 52px;
        top: -40px;
        left: 0;
    }

    &__img {
        width: 601px;
        height: 754px;
        object-fit: cover
    }

    .social {
        position: absolute;
        right: 135px;
        top: 50%;
        transform: translateY(-50%);

        &__list {
            flex-direction: column;
        }

        &__list-item+.social__list-item {
            margin-left: 0;
        }

        &__list-item {
            margin-bottom: 16px;
        }
    }

    .social::after,
    .social::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 55px;
        background-color: $accent;
        left: 50%;
        transform: translateX(-50%);
    }

    .social::before {
        top: -80px;
    }

    .social::after {
        top: 208px;
    }

}

.statistics {
    background-color: $accent;

    &__wrapper {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list-item {
        font-size: 64px;
        padding: 50px 113px 50px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border: none;
        }
    }

    &__list-item {
        border-right: 1px solid #F6F5F5;
    }

    &__item-text {
        font-size: 24px;
    }
}

.about-me {
    padding-top: 101px;

    &__wrapper {
        display: flex;
    }

    &__content {
        margin-right: 50px;
    }

    &__title {
        margin-top: 33px;
        margin-bottom: 30px;
        @extend %title;
    }

    &__text {
        max-width: 640px;
        margin-bottom: 15px;
    }

    &__images {
        width: 610px;
        height: 632px;
        object-fit: cover;
    }
}

.services {
    padding: 100px 0 61px;

    &__wrapper {
        padding: 17px 0 105px;
    }

    &__title {
        @extend %title;
        margin-bottom: 25px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap
    }

    &__item {
        max-width: 640px;
        height: 296px;
        background-color: #fff;
        padding-top: 30px;
        padding-left: 30px;
        border: 1px solid $accent;
        position: relative;
    }

    &__item::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        right: 20px;
        top: -25px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__item-instagram::before {
        background-image: url('../images/icons/instagram.svg');
    }

    &__item-facebook::before {
        background-image: url('../images/icons/facebook.svg');
    }

    &__item-facebook::after {
        content: '';
        position: absolute;
        width: 196px;
        height: 196px;
        background-image: url('../images/services.png');
        background-repeat: no-repeat;
        background-size: cover;
        right: 14px;
        bottom: -100px;
    }

    &__subtitle {
        font-size: 24px;
        @extend %manrope-700;
        margin-bottom: 20px;
    }

    &__list-item {
        padding-left: 26px;
        margin-bottom: 15px;
        position: relative;
    }

    &__list-item::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $accent;
        left: 0;
        top: 5px;
    }
}

.smm {
    padding: 61px 0 90px;

    &__title {
        @extend %title;
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__img {
        max-width: 650px;
        height: 656px;
        object-fit: cover;
    }

    &__img-right {
        order: 1;
    }

    &__subtitle {
        font-size: 36px;
        color: $accent;
        margin-bottom: 20px;
    }

    &__content-one {
        padding: 193px 0 194px 52px;
    }

    &__text-one {
        max-width: 598px;
    }

    &__content-two {
        padding: 179px 66px 180px 0;
    }

    &__text {
        max-width: 580px;
    }

    &__content-three {
        padding: 188px 0 188px 80px;
    }
}

.target {
    padding-bottom: 100px;

    &__title {
        @extend %title;
        margin-bottom: 30px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    &__card {
        max-width: calc(33.333% - 20px);
        padding: 30px 22px 20px 30px;
        position: relative;
        height: 254px;
        border: 1px solid $accent;
        background-color: #fff;
    }

    &__card--empty {
        background-color: $accent;
        flex: 1 1 100%;
        max-width: calc(33.333% - 20px);
        position: relative;
    }

    &__subtitle {
        font-size: 24px;
        @extend %manrope-700;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 368px;
    }

    &__link {
        position: absolute;
        padding-right: 34px;
        right: 30px;
        bottom: 20px;
        @extend %manrope-600;
        color: $accent;
    }

    &__link::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url('../images/icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        right: 0;
        top: 0;
    }

    &__card--empty::after {
        content: '';
        position: absolute;
        width: 52px;
        height: 55px;
        background-image: url('../images/icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: 30px;
        top: 22px;
        cursor: pointer;
    }

    &__btn {
        position: absolute;
        border: none;
        background-color: transparent;
        font-size: 24px;
        color: #FFFFFF;
        @extend %manrope-500;
        left: 30px;
        bottom: 30px;
        cursor: pointer;
    }
}
.popup-top{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    &__inner{
        background-color: #fff;
        max-width: 557px;
        padding: 71px 50px 49px 51px;
        text-align: center;
        position: relative;
    }
    &__title{
        font-size: 36px;
        @extend %manrope-700;
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 30px;
    }
    &__form{
        max-width: 391px;
        margin: 0 auto;
    }
    &__label{
        display: block;
        text-align: left;
        margin-bottom: 20px;
        font-size: 14px;
    }
    &__input{
        width: 100%;
        padding: 20px 10px;
        border: 1px solid $accent;
        margin-top: 8px;
    }
    &__input--text{
        padding: 10px 10px 119px;
    }
    &__btn{
        width: 100%;
        height: 61px;
        border: none;
        background-color: $accent;
        cursor: pointer;
    }
}



@import 'media';