@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
    &__wrapper {
        padding: 50px 0;
        border-bottom: 1px solid $accent;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu-list {
        display: flex;
    }

    &__list-item+.header__list-item {
        padding-left: 70px;
    }

    &__link {
        font-size: 32px;
        color: #A4C0E0;
        @extend %forum-400;
        text-transform: uppercase;
    }
}

.footer {
    &__wrapper {
        padding: 50px 0 57px;
        border-top: 1px solid $accent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.top {
    padding: 47px 34px;
    position: relative;

    &__wrapper {
        display: flex;
    }

    &__content {
        padding-top: 125px;
        margin-right: 57px;
    }

    &__title {
        font-size: 96px;
        @extend %forum-400;
        margin-bottom: 30px;
    }

    &__text {
        max-width: 426px;
        @extend %forum-400;
        margin-bottom: 30px;
    }

    &__btn {
        width: 260px;
        height: 61px;
        border: none;
        padding: 0;
        background-color: $accent;
        margin-bottom: 139px;
        cursor: pointer;
    }

    &__blockquote {
        max-width: 330px;
        position: relative;
    }

    &__blockquote::before {
        content: '';
        position: absolute;
        background-image: url('../images/brackets.svg');
        background-size: cover;
        width: 62px;
        height: 52px;
        top: -40px;
        left: 0;
    }

    &__img {
        width: 601px;
        height: 754px;
        object-fit: cover
    }

    .social {
        position: absolute;
        right: 135px;
        top: 50%;
        transform: translateY(-50%);

        &__list {
            flex-direction: column;
        }

        &__list-item+.social__list-item {
            margin-left: 0;
        }

        &__list-item {
            margin-bottom: 16px;
        }
    }

    .social::after,
    .social::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 55px;
        background-color: $accent;
        left: 50%;
        transform: translateX(-50%);
    }

    .social::before {
        top: -80px; 
    }
    .social::after{
        top: 208px;
    }
    
}

.statistics{
    background-color: $accent;
    &__wrapper{
        text-align: center;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list-item{
        font-size: 64px;
        padding: 50px 113px 50px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
            border: none;
        }
    }
    &__list-item{
        border-right: 1px solid #F6F5F5;
    }
    &__item-text{
        font-size: 24px;
    }
}

.about-me{
    padding-top: 101px;
    &__wrapper{
        display: flex;
    }
    &__content{
        margin-right: 50px;
    }
    &__title{
        margin-top: 33px;
        font-size: 48px;
        @extend %manrope-700;
        margin-bottom: 30px;
    }

    &__text{
        max-width: 640px;
        margin-bottom: 15px;
    }

    &__images{
        width: 610px;
        height: 632px;
        object-fit: cover;
    }
}



@import 'media';