@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';




.header {
    &__wrapper {
        position: relative;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 50px 10px 50px;
    }

    &__menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $accent;
        bottom: 0;
        left: 0;
    }

    &__menu-list {
        display: flex;
        gap: 70px;
    }

    &__link {
        font-size: 32px;
        color: #A4C0E0;
        @extend %forum-400;
        text-transform: uppercase;
    }

    &__menu-btn {
        display: none;
    }

    &__button {
        display: none;
    }
}

.footer {
    &__wrapper {
        padding: 50px 0 57px;
        border-top: 1px solid $accent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.top {
    padding: 47px 34px;
    position: relative;

    &__wrapper {
        display: flex;
    }

    &__content {
        padding-top: 125px;
        margin-right: 57px;
    }

    &__title {
        font-size: 96px;
        @extend %forum-400;
        margin-bottom: 30px;
    }

    &__text {
        max-width: 426px;
        @extend %forum-400;
        margin-bottom: 30px;
    }

    &__btn {
        width: 260px;
        height: 61px;
        border: none;
        padding: 0;
        background-color: $accent;
        margin-bottom: 139px;
        cursor: pointer;
    }

    &__blockquote {
        max-width: 330px;
        position: relative;
    }

    &__blockquote::before {
        content: '';
        position: absolute;
        background-image: url('../images/brackets.svg');
        background-size: cover;
        width: 62px;
        height: 52px;
        top: -40px;
        left: 0;
    }

    &__container-img {
        position: relative;
        display: inline-block;
    }

    &__container-img::before,
    &__container-img::after {
        content: '';
        position: absolute;
        background-color: $accent;
        height: 1px;
        width: calc(100% - 1vw);
    }

    &__container-img::before {
        top: 0;
        left: 1vw;
    }

    &__container-img::after {
        right: 0;
        bottom: 1vw;
        z-index: -1;
    }

    &__img-line {
        position: absolute;
        background-color: $accent;
        width: 1px;
        height: calc(100% - 1vw);
    }

    &__img-line--one {
        left: 1vw;
        top: 0;
    }

    &__img-line--two {
        right: 0;
        bottom: 1vw;
    }

    &__img {
        width: 591px;
        height: 744px;
        object-fit: cover;
        padding-top: 1vw;
        padding-right: 1vw;
        display: block;
        position: relative;
    }


    .social {
        position: absolute;
        right: 135px;
        top: 50%;
        transform: translateY(-50%);

        &__list {
            flex-direction: column;
        }

        &__list-item+.social__list-item {
            margin-left: 0;
        }

        &__list-item {
            margin-bottom: 16px;
        }
    }

    .social::after,
    .social::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 55px;
        background-color: $accent;
        left: 50%;
        transform: translateX(-50%);
    }

    .social::before {
        top: -80px;
    }

    .social::after {
        top: 208px;
    }

}

.statistics {
    background-color: $accent;
    overflow: hidden;

    .statistics__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0px;
    }

    &__list-item {
        font-size: clamp(27px, 5vw, 64px);
        font-size: 64px;
        position: relative;
        flex: 0 1 auto;
        text-align: center;

    }

    &__list-item::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 220%;
        background-color: #fff;
        right: -113px;
        top: -50px;
    }

    &__list-item:last-child::after {
        display: none;
    }


    &__item-text {
        font-size: 24px;
    }
}

.about-me {
    padding-top: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-right: 50px;
    }

    &__title {
        margin-top: 33px;
        margin-bottom: 30px;
        @extend %title;
    }

    &__text {
        max-width: 640px;
        margin-bottom: 20px;
    }

    &__container-img {
        position: relative;
        display: inline-block;
    }

    &__container-img::before,
    &__container-img::after {
        content: '';
        position: absolute;
        background-color: $accent;
        height: 1px;
        width: calc(100% - 1vw);
    }

    &__container-img::before {
        top: 0;
        right: 1vw;
    }

    &__container-img::after {
        left: 0;
        bottom: 1vw;
        z-index: -1;

    }

    &__img-line {
        position: absolute;
        background-color: $accent;
        width: 1px;
        height: calc(100% - 1vw);
    }

    &__img-line--one {
        left: 0;
        top: 0;
    }

    &__img-line--two {
        right: 1vw;
        bottom: 1vw;
    }


    &__images {
        width: 600px;
        height: 622px;
        object-fit: cover;
        padding-top: 1vw;
        padding-left: 1vw;
        display: block;
        position: relative;
    }
}

.services {
    padding: 117px 0 166px;

    &__title {
        @extend %title;
        margin-bottom: 25px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__item {
        max-width: 640px;
        height: 296px;
        background-color: #fff;
        padding-top: 30px;
        padding-left: 30px;
        border: 1px solid $accent;
        position: relative;
    }

    &__item::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        right: 20px;
        top: -25px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__item-instagram::before {
        background-image: url('../images/icons/instagram.svg');
    }

    &__item-facebook::before {
        background-image: url('../images/icons/facebook.svg');
    }

    &__item-facebook::after {
        content: '';
        position: absolute;
        width: 196px;
        height: 196px;
        background-image: url('../images/services.png');
        background-repeat: no-repeat;
        background-size: cover;
        right: 14px;
        bottom: -100px;
    }

    &__subtitle {
        font-size: 24px;
        @extend %manrope-700;
        margin-bottom: 20px;
    }

    &__list-item {
        padding-left: 26px;
        margin-bottom: 15px;
        position: relative;
    }

    &__list-item::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $accent;
        left: 0;
        top: 5px;
    }
}

.smm {
    padding: 41px 0 108px;

    &__title {
        @extend %title;
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        gap: 52px;
    }

    &__container-img {
        position: relative;
        display: inline-block;
    }

    &__container-img::before,
    &__container-img::after {
        content: '';
        position: absolute;
        background-color: $accent;
        height: 1px;
        width: calc(100% - 1vw);
    }

    &__container-img::before {
        top: 0;
        right: 1vw;
    }

    &__container-img::after {
        left: 0;
        bottom: 1vw;
        z-index: -1;

    }

    &__container-img--right::before {
        top: 0;
        left: 1vw;
    }

    &__container-img--right::after {
        left: 1vw;
        bottom: 1vw;
    }

    &__img-line {
        position: absolute;
        background-color: $accent;
        width: 1px;
        height: calc(100% - 1vw);
    }

    &__img-line--one {
        left: 0;
        top: 0;
    }

    &__img-line--two {
        right: 1vw;
        bottom: 1vw;
        z-index: -1;
    }

    &__img-line--oneright {
        left: 1vw;
        top: 0;
        z-index: -1;
    }

    &__img-line--tworight {
        right: 0;
        bottom: 1vw;
    }

    &__img {
        width: 640px;
        height: 646px;
        object-fit: cover;
        padding-top: 1vw;
        padding-left: 1vw;
        display: block;
        position: relative;
    }

    &__container-img--right {
        order: 1;
    }

    &__img-right {
        padding-left: 0;
        padding-top: 1vw;
        padding-right: 1vw;
    }

    &__subtitle {
        font-size: 36px;
        color: $accent;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 598px;
    }
}

.target {
    padding-bottom: 100px;

    &__title {
        @extend %title;
        margin-bottom: 30px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    &__card {
        padding: 30px 22px 20px 30px;
        position: relative;
        height: 254px;
        border: 1px solid $accent;
        background-color: #fff;
    }

    &__card--empty {
        background-color: $accent;
        position: relative;
    }

    &__subtitle {
        font-size: 24px;
        @extend %manrope-700;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 368px;
    }

    &__link {
        position: absolute;
        padding-right: 34px;
        right: 30px;
        bottom: 20px;
        @extend %manrope-600;
        color: $accent;
    }

    &__link::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url('../images/icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        right: 0;
        top: 0;
    }

    &__card--empty::after {
        content: '';
        position: absolute;
        width: 52px;
        height: 55px;
        background-image: url('../images/icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: 30px;
        top: 22px;
        cursor: pointer;
    }

    &__btn {
        position: absolute;
        border: none;
        background-color: transparent;
        font-size: 24px;
        color: #FFFFFF;
        @extend %manrope-500;
        left: 30px;
        bottom: 30px;
        cursor: pointer;
    }
}

.popup-top {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__inner {
        background-color: #fff;
        max-width: 557px;
        padding: 71px 50px 49px 51px;
        text-align: center;
        position: relative;
    }

    &__title {
        font-size: 36px;
        @extend %manrope-700;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__form {
        max-width: 391px;
        margin: 0 auto;
    }

    &__label {
        display: block;
        text-align: left;
        margin-bottom: 20px;
        font-size: 14px;
    }

    &__input {
        width: 100%;
        padding: 20px 10px;
        border: 1px solid $accent;
        margin-top: 8px;
    }

    &__input--text {
        padding: 10px 10px 119px;
    }

    &__btn {
        width: 100%;
        height: 61px;
        border: none;
        background-color: $accent;
        cursor: pointer;
    }
}

.projects-tabs {
    padding: 50px 0;
    background-color: #fff;
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;

    &__wrapper {
        position: relative;
    }

    &__title {
        @extend %title;
        margin-bottom: 30px;
    }

    &__top {
        position: absolute;
        max-width: 100%;
        overflow-x: hidden;
    }

    &__top-item {
        display: inline-block;
        color: #A9A9A9;
        padding-bottom: 9px;
        margin-bottom: 30px;

        &+.projects-tabs__top-item {
            margin-left: 48px;
        }
    }

    &__top-item--active {
        color: #494A50;
        border-bottom: 1px solid $accent;
    }

    &__content-item {
        display: none;

        &.projects-tabs__content-item--active {
            display: flex;
            justify-content: space-between;
        }
    }

    &__content-boxtext {
        max-width: 530px;
        padding-top: 64px;
        margin-right: 130px;
        text-align: left;
    }

    &__content-text--top {
        margin-bottom: 20px;
    }

    &__content-boximages {
        display: flex;
        gap: 20px;
    }

    &__content-img {
        display: block;
        max-width: 100%;
        // width: 100%;
        height: auto;
        flex-basis: calc((100% - 40px) / 3);
        max-width: calc((100% - 40px) / 3);
    }
}

.why-me {
    padding: 100px 0;

    &__wrapper {
        display: flex;
    }
    &__container-img {
        position: relative;
        display: inline-block;
    }

    &__container-img::before,
    &__container-img::after {
        content: '';
        position: absolute;
        background-color: $accent;
        height: 1px;
        width: calc(100% - 1vw);
    }

    &__container-img::before {
        top: 0;
        right: 1vw;
    }

    &__container-img::after {
        left: 0;
        bottom: 1vw;
        z-index: -1;

    }

    &__img-line {
        position: absolute;
        background-color: $accent;
        width: 1px;
        height: calc(100% - 1vw);
    }

    &__img-line--one {
        left: 0;
        top: 0;
    }

    &__img-line--two {
        right: 1vw;
        bottom: 1vw;
        z-index: -1;
    }

    &__img {
        display: block;
        width: 540px;
        height: 618px;
        object-fit: cover;
        // margin-right: 200px;
        padding-top: 1vw;
        padding-left: 1vw;
    }

    &__content {
        padding-top: 27px;
        max-width: 560px;
        margin-left: 200px;
    }

    &__content-title {
        @extend %title;
        margin-bottom: 20px;
    }

    .why-me__list {
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
    }

    &__list-item {
        @extend %manrope-700;
        color: $accent;
        white-space: nowrap;
        text-align: center;
    }

    &__content-text {
        margin-top: 20px;
    }
}



@import 'media';